[submodule "tools"]
	path = tools
	url = https://github.com/dlang/tools.git
[submodule "dmd"]
	path = dmd
	url = https://github.com/dlang/dmd.git
[submodule "druntime"]
	path = druntime
	url = https://github.com/dlang/druntime.git
[submodule "phobos"]
	path = phobos
	url = https://github.com/dlang/phobos.git
[submodule "installer"]
	path = installer
	url = https://github.com/dlang/installer.git
